{% extends '/base.html.twig' %}

  {% block title %}
      Hello welcome in the page add a book .
  {% endblock %}

{# Block menu #}
 {% block sidebar %}
     {{ parent() }}
 {% endblock %}

{% block body %}

    {# Todo add form #}
    {% block body %}
        <div class="books">
           <h1>Ajouter un livre .</h1>
        </div>
    {% endblock %}

{% endblock %}