{% extends '/base.html.twig' %}

{% block sidebar %}
    {# position parent above if we want to display the parent of the menu first for example #}
    {{ parent() }}
    <li><a href={{ path('book-view_first') }}>Voir plus</a></li>
{% endblock %}

{% block body %}

{% endblock %}