{% extends '/base.html.twig' %}

{% block title %}
    Hello welcome in the page update a book.
{% endblock %}

{# Block menu #}
{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {# Todo add form #}
    <div class="books">
        <h1>Modifier un livre .</h1>
    </div>

{% endblock %}